a, p {
  color: #5E937B;
  font-size: 15px;
  font-weight: bolder;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}
