<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
</head>
<body>
    <div id="loading-container" class="loading-container">
        <div class="img-box">
            <img src="{{ url_for('static', filename='images/loading_logo.gif') }}" alt="Loading...">
        </div>
    </div>
    <script src="{{ url_for('static', filename='loading.js') }}"></script>
    <script>
        setTimeout(function() {
            window.location.replace("{{ url_for('after_loading') }}");
        }, 2500);
    </script>
</body>
</html>
