{% extends 'base_dashboard.html' %}

{% block profile %}
    {% include 'user_profile.html' %}
    <script src="/static/user_search.js"></script> 
{% endblock %}


{% block search %}

<form class="search-form" action="{ url_for('admin_search') }" method="GET" onsubmit="return false;">
    <div class="search">
        <input type="text" name="query" id="search-input" placeholder="search...">
    </div>
</form>   
{% endblock %}    

{% block content %}

    <div class="requested-books">
        <h1>My Books</h1>
        <h3>Requested Books</h3>
        {% if requested_books %}
            <div class="book-list">
                {% for book in requested_books %}
                    <div class="book">
                        <a href="{{ url_for('view_book_pdf', book_id=book.book_id) }}">
                            <img src="{{ url_for('book_con', filename=book.book_image) }}" alt="Book Image">
                        </a>
                        <h4>{{ book.name }}</h4>
                        <p>Author: {{ book.author }}</p>
                        {% if book_already_requested(session.get('user_id'), book.book_id) %}
                            <!-- Book has already been requested by the user -->
                            {% if book_request_status(book.book_id,user.user_id) == 'Approved' %}
                                <form method="POST" action="/api/return-book">
                                    <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                    <button type="submit" class="btn btn-danger">Return</button>
                                </form>
                            {% else %}
                                <button type="button" class="btn btn-success">Requested</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No requested books found.</p>
        {% endif %}
    </div>

    <div class="approved-books">
        <h3>Approved Books</h3>
        {% if approved_books %}
            <div class="book-list">
                {% for book in approved_books %}
                    <div class="book">
                        <a href="{{ url_for('view_book_pdf', book_id=book.book_id) }}">
                            <img src="{{ url_for('book_con', filename=book.book_image) }}" alt="Book Image">
                        </a>
                        <h4>{{ book.name }}</h4>
                        <p>Author: {{ book.author }}</p>
                        <p>Status: {{ book.status }}</p>
                        {% if book_request_status(book.book_id,user.user_id) == 'Approved' %}
                            <form method="POST" action="/api/return-book">
                                <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                <button type="submit" class="btn btn-danger">Return</button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No approved books found.</p>
        {% endif %}
    </div>
{% endblock %}
