{% extends 'base_dashboard.html' %}

{% block search %}
<form class="search-form" action="{{ url_for('user_search') }}" method="GET" onsubmit="return false;">
    <div class="search">
        <input type="text" name="query" id="search-input" placeholder="search...">
    </div>
</form>   
{% endblock %}     

{% block profile %}
    {% include 'user_profile.html' %}
    <script src="{{ url_for('static', filename='user_search.js') }}"></script>
{% endblock %}




{% block content %}
    <div class="h_user">
        <div class="heading-cont">
            <h1>Recent Uploads:</h1>
            <a href="{{ url_for('all_book') }}">
                <button>More</button>
            </a> 
        </div>
    </div>  
    <div class="book-sections-user">
        <div class="books">
            {% for book in recent_books %}
                <div class="book">
                    <a href="{{ url_for('view_book_pdf', book_id=book.book_id) }}">
                        <img src="{{ url_for('book_con', filename=book.book_image) }}" alt="Book Image">
                    </a>
                    <h3>{{ book.name }}</h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Section: {{ book.sec_name }}</p>
                    {% if book_already_requested(session.get('user_id'), book.book_id) %}
                        {% if book_request_status(session.get('user_id'),book.book_id) == 'Approved' %}
                            <form method="POST" action="/api/return-book">
                                <input type="hidden" name="book_id" value="{{ book.book_id }}">
                                <button type="submit" class="btn btn-danger">Return</button>
                            </form>
                        {% else %}
                            <button type="button" class="btn btn-success">Requested</button>
                        {% endif %}
                    {% else %}
                        <!-- Book has not been requested by the user -->
                        <form method="POST" action="/api/request-book">
                            <input type="hidden" name="user_id" value="{{ user_id }}">
                            <input type="hidden" name="book_id" value="{{ book.book_id }}">
                            <button type="submit">Request</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
